{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>{{ header_text }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Mobile No.</th>
        <th>Course</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in teacher_data["teachers"] %}
      <tr>
        <td>{{ teacher["id"] }}</td>
        <td>{{ teacher["name"] }}</td>
        <td>{{ teacher["age"] }}</td>
        <td>{{ teacher["gender"] }}</td>
        <td>{{ teacher["mobile"] }}</td>
        <td>{{ teacher["course"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}